body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


#game-canvas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #guess-queue{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */



#list-guess{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.guesses{
    padding: 20px;
    border: 1px solid red;
    gap: 10px;

}